{% extends 'base.html' %}

{% block title %}Buscar en la base de Datos{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Buscar en la Base de Datos</h2>
        <form method="get" action="{% url 'buscar_bd' %}" class="form-inline mb-3">
            <input type="text" name="q" placeholder="Ingrese su consulta" class="form-control mr-2">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        {% if resultados %}
            <h3>Resultados:</h3>
            <ul class="list-group">
                {% for resultado in resultados %}
                    <li class="list-group-item">{{ resultado }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hemos encontrado resultados para tu búsqueda.</p>
        {% endif %}
        <br>
        <a href="{% url 'agregar_artista' %}" class="btn btn-secondary">Agregar Artista</a>
        <a href="{% url 'agregar_disco' %}" class="btn btn-secondary">Agregar Disco</a>
        <a href="{% url 'agregar_cancion' %}" class="btn btn-secondary">Agregar Canción</a>
    </div>
{% endblock %}